/* body stylesheet */
body{
    background-image: url(images/registerBackground.png);
    background-size: cover;
    background-attachment: fixed;
}

/* header stylesheet */
header{
    text-align: center;
    color:#000 ;
    background-color: lime;
    font-size: larger;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 30px;
}

/* field sets stylesheet */

.fieldsetInfo{
    margin: 15px;
}

/* section stylesheet */
#sectionDiv{
    padding: 20px;
    background-image: url(images/FormBackground.png);
    width: 900px;
    height: 700px;
    display: inline-block;
    margin-left: 300px;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* username & password stylesheet */
#UserPassFieldset{
    padding: 15px;
    border-color: coral;
}

.UP_text{
    color: red;
    white-space: pre;
}

/* personal information stylesheet */
#PersonalInfoFieldset{
    padding: 15px;
    border-color: lightblue;
}

.PI_text{
    white-space: pre;
    color: indigo;
}

/* bank information stylesheet */
#BankInfoFieldSet{
    padding: 15px;
    border-color: green;
}

.BI_text{
    white-space: pre;
    color: olive;
}

/* submit button stylesheet */
#submitButton{
    color: darkorange;
    border-color: darkred;
    cursor: pointer;
}

/* footer stylesheet */
#footer{
    text-align: center;
    color:#000 ;
    background-color: lime;
    font-size: larger;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 30px;
}

/* input elements stylesheet */
.inputElement:focus{
    background-color: aqua;
}